
{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link href="{% static 'users/css/profile.css' %}" rel="stylesheet" type="text/css" />
<div class="container bootstrap snippets bootdey">
<div class="row">
  <div class="profile-nav col-md-3">
      <div class="panel">
          <div class="user-heading round">
              <a href="#">
                  <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="">
              </a>
              <h1>{{user.username}}</h1>
              <p>{{user.email}}</p>
          </div>

          <ul class="nav nav-pills nav-stacked">
              <li class="active"><a href="#"> <i class="fa fa-user"></i> Other accounts</a></li>
              <li><a href="#"> <i class="fa fa-calendar"></i> Date</a></li>
              <li><a href="#"> <i class="fa fa-star"></i> Interests </a></li>
          </ul>
      </div>
  </div>
  <div class="profile-info col-md-9">
      
      <div class="panel">
          <div class="bio-graph-heading">
              About the photographer!!
          </div>
          <div class="panel-body bio-graph-info">
      </div>
      <div>
          <div class="row">
          </div>
      </div>
  </div>
</div>
</div>
{% endblock %}