@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');

body{
    background: #F7F7F7 url("https://i.ytimg.com/vi/R9mXtzn8meE/maxresdefault.jpg") repeat 0 0;
    margin:0;
	padding:0;
    -webkit-animation: 10s linear 0s normal none infinite animate;
	-moz-animation: 10s linear 0s normal none infinite animate;
	-ms-animation: 10s linear 0s normal none infinite animate;
	-o-animation: 10s linear 0s normal none infinite animate;
	animation: 10s linear 0s normal none infinite animate;
}
h1{
    font-family: 'Rajdhani', sans-serif;
    letter-spacing: 3px;
    font-size: 30px;
    padding-left: 20px;
}
.float_box{
    height: 530px;
    width: 850px;
    background-color: #F7F7F7;
    margin-top: 50px;
    margin-left: 340px;
    border-radius: 20px;
    box-shadow: 15px 15px 40px;
}

.float_box h2{
    text-align: center;
    padding-top: 10px;
    font-size: 40px;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 550;
    letter-spacing: 5px;
    font-size: 65px;
    margin-bottom: 30px;
}

form{
    padding-left: 50px;
    padding-right: 80px;
}

form p{
    font-family: 'Rajdhani', sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    padding-left: 0px;
    margin-bottom: 10px;
}

form input[type="text"], input[type="password"]{
    background: transparent;
    border-width: 0;
    border-bottom-width: 3px;
    width: 100%;
    font-size: 13px;
    font-style: italic;
    height: 30px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 50px;
    letter-spacing: 2px;
}

input[type="text"]:hover, input[type="password"]:hover{
    cursor: pointer;
    transition: ease-in-out .5s;
    box-shadow: 5px 5px 20px;
    border-bottom-width: 0px;
}

input[type="submit"]
{
    position: absolute;
    margin-left: 530px;
    margin-top: 10px;
    height: 50px;
    width: 200px;
    font-size: 20px;
    letter-spacing: 5px;
    font-family: "Rajdhani", sans-serif;
    font-weight: 1000;
    color: black;
    background-color: #F7F7F7;
}

input[type="submit"]:hover{
    background-color: black;
    border-color: #F7F7F7;
    color: #F7F7F7;
    border-radius: 40px;
    box-shadow: 5px 5px 20px black;
    transition: ease-in-out 0.5s;
}

#form a{
    margin-top: 0;
    text-decoration: none;
}
 
@-webkit-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-moz-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-ms-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-o-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}