{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %
<link href="logincss.css" rel="stylesheet" type="text/css" />

        <h1>GALLERIA</h1>
        <div class="float_box">
            <h2>Login</h2>
            
            <form id= "form" action="" method ="POST">
                {% csrf_token %}
                <label for="username"><p>Username</p></label>
                <input type="text" id="username" name="username" placeholder="Enter Username" required>
                <label for="pass1"><p>Password</p></label>
                <input type="password" id="password" name="pass1" placeholder="Enter Password" required>
                <input type="submit" name="" value="Log In"><br>
               {% comment %} <a href= "forgot_pass.html">Forgot Password ?</a> {% endcomment %}
                <a href= "{% url 'register' %}">Don't have an account?</a>
            </form>

        </div>
 {% endblock %}