@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.navbar{
    background-color: #ffffff;
    width: 100%;
    height: 70px;
    margin-bottom: 10px;
}

.navbar ul li img{
    height: 35%;
}

.navbar ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display:flex;
    position: relative;
}

.navbar #explore{
  color: #3675D2;
    font-size: 20px;
    margin-left: 200px;
    padding: 7px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    border-width: 0px;
    margin-top: 15px;
}

.navbar #explore:hover{
    cursor: pointer;
    border-color: #3675D2;
    border-width: 2px;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
}

.navbar #myspace{
  color: #3675D2;
    font-size: 20px;
    margin-left: 70px;
    padding: 7px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    border-width: 0px;
    margin-top: 15px;
}

.navbar #myspace:hover{
    cursor: pointer;
    border-color: #3675D2;
    border-width: 2px;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
}

.navbar #login{
  color: #3675D2;
    margin-left: 520px;
    background-color: white;
    font-size: 20px;
    padding: 5px;
    padding-left: 13px;
    padding-right: 13px;
    border-radius: 10px;
    border-width: 0px;
    margin-top: 15px;
    border-width: 2px;
    border-color: #3675D2;

}

.navbar #login:hover{
    cursor: pointer;
}

:root {
    --primary-light: black;
    --primary: #3675D2;
    --white: #eaeaea;
    --greyLight-1: #eaeaea;
    --greyLight-2: white;
    --greyLight-3: #b7b7b7;
    --greyDark: rgb(168, 168, 168);
  }
  
  html {
    box-sizing: border-box;
    font-size: 11px;
    letter-spacing: 0.5px;
    overflow-y: scroll;
  }
  
  /*  RADIO  */
  .radio {
    grid-column: 1/2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    
  }
  .radio input {
    display: none;
  }
  .radio__1 input:checked ~ label, .radio__2 input:checked ~ label {
    box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
  }
  .radio__1 input:checked ~ label::after, .radio__2 input:checked ~ label::after {
    background: var(--primary);
  }
  .radio__1 label, .radio__2 label {
    box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
  }
  .radio__1 label:hover::after, .radio__2 label:hover::after {
    background: var(--primary);
  }
  .radio__1 label::after, .radio__2 label::after {
    content: "";
    position: absolute;
    width: 2rem;
    height: 1.4rem;
    background: var(--greyDark);
    border-radius: 50%;
    transition: 0.3s ease;
  }
  
  .segmented-control {
    margin-top: 20px;
    margin-right: 140px;
    float: right;
    grid-column: 3/4;
    grid-row: 1/2;
    width: 14rem;
    height: 4.5rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    position: relative;
    background-color: #ffffff;
  }
  .segmented-control input {
    display: none;
  }
  .segmented-control > input:checked + label {
    transition: all 0.5s ease;
    color: var(--primary);
    letter-spacing: 0.85px;
    font-size: 16px;
    padding: 10px;
  }
  .segmented-control__1, .segmented-control__2{
    width: 6.8rem;
    height: 3.6rem;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--greyDark);
    transition: all 0.5s ease;
  }
  .segmented-control__1:hover, .segmented-control__2:hover{
    color: var(--primary);
  }
  .segmented-control__color {
    position: absolute;
    height: 3.4rem;
    width: 7rem;
    margin-left: 0.3rem;
    border-radius: 0.8rem;
    box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-3), inset -0.2rem -0.2rem 0.5rem var(--white);
    pointer-events: none;
  }
  
  #tab-1:checked ~ .segmented-control__color {
    transform: translateX(0);
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  
  #tab-2:checked ~ .segmented-control__color {
    transform: translateX(6.1rem);
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

.divisor{
  width: 100%;
  height: 90px;
}

.gallery{
  padding-left: 150px;
  padding-right: 80px;
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
}

#gal_img{
  border-radius: 32px;
  padding: 20px;
  width: 270px;
  height: 270px;
  object-fit: cover;
  filter: drop-shadow(0px 2px 20px rgba(56, 56, 56, 0.4));
  transition: ease-in-out 0.4s;
  z-index: 1;
}

#gal_img:hover {
  cursor: pointer;
  filter: drop-shadow(0px 10px 20px rgb(100, 100, 100));
  transition: ease-in-out 0.5s;
}

.name{
  font-size: 25px;
  padding-top: 100px;
  position: relative;
  font-weight: 600;
  color: #3675D2;
}

.name a{
  text-decoration: none;
  color: #3675D2;
}

.display_img{
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 100; /*scrolling feature on zoomed images will be implemented later.*/
}

.display_img img{
  width: 80%;
  width: 800px;
}

.display_img #close{
  position: absolute;
  top: 4%;
  left: 5%;
  font-size: 20px;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.display_img #zoom-in{
  position: absolute;
  top: 3%;
  right: 45%;
  font-size: 40px;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.display_img #zoom-out{
  position: absolute;
  top: 2.5%;
  right: 50%;
  font-size: 50px;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.display_img #file_name{
  position: absolute;
  bottom: 2.5%;
  right: 45%;
  font-size: 15px;
  color: white;
}